<div ng-model='beer.contacts' ng-controller='myContacts' id='resultsWrapper' ng-init='checkLogin()'>
  <div ng-init='loadContacts()' id='contacts'>
    <div id='sendRequest' ng-click='sendRequest()'>BEER</div>
    <form>
      <input id='name' type='text' placeholder='name'>
      <input id='email' type='text' placeholder='email'>
      <div id='addContact' ng-click='saveContact()'>ADD NEW CONTACT</div>
    </form>
    <ol id='allContacts'>
      <li ng-repeat="person in people | orderByPriority | orderBy:'name'" ng-click='toggleContacts(person); showCheck = ! showCheck' ng-class-odd="'odd'" ng-class-even="'even'">
        <div id='contactContainer'>
          <img ng-show='showCheck' id='checkmark' src='img/checkmark.png'></img>
          {{person.name}}
          <img ng-show='showCheck' id='checkmark' src='img/checkmark.png'></img>
        </div>
      </li>
    </ol>
  </div>
</div>