<!-- <div ng-model='beer.places' ng-controller='queryYelp' id='resultsWrapper' ng-init='checkLogin()'> -->
<div ng-model='beer.places' ng-controller='query4sq' id='resultsWrapper' ng-init='checkLogin()'>
  <div id='results'>
      <ol>
        <li ng-repeat="bar in nearby" ng-click='Bar.setProperty(bar)' ng-class-odd="'odd'" ng-class-even="'even'">
           <a id='yelpWrapper' target='_blank' href='https://foursquare.com/v/{{bar.venue.id}}'><img id='yelp' src="img/foursquare.png"></a> <a ui-sref='contacts' style='text-decoration:none'><span style="display:inline-block; width: 80%;"><div id='barWrapper'>{{bar.venue.name}} | {{bar.venue.categories[0].name}}<br><div style='font-size:.75em'>{{bar.venue.location.distance}} meters {{findDirection(bar.venue.location.lat, bar.venue.location.lng)}} ({{bar.venue.rating}}/10)</div></div></span></a>
        </li>
      </ol>
  </div>
</div>