body {
  background-color: #F28D7A;
}
ion-pane {
  font-family: 'PT Sans Narrow';
  background-color: #F28D7A !important;
  font-size: 25px;
}
ion-pane {
  position: absolute;
  color: #FEF2D8;
  top: 50%;
  left: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
}
#title:active #titleWrapper:active{
  background-color: #DB5A55 !important;
}
#title {
  background-color: #F28D7A;
  display: table;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  line-height: 300px;
  font-size: 100px;
}
#titleWrapper {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
a {
  color: #FEF2D8;
}
#results {
  color: #FEF2D8;
}
.odd {
  background-color: #6AA8A5;
  color: #FEF2D8;
}
.even {
  background-color: #F28D7A;
  color: #FEF2D8;
}
#results, ol, #resultsWrapper, #contacts {
  height: 100%;
}
li {
  height: 10%;
}
#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
#loginWrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#login {
  display: block;
  margin: 0 auto;
  height: 20%;
  width: auto;
}