ion-pane {
  font-family: 'PT Sans Narrow';
  background-color: #FF6900 !important;
}
ion-pane {
  position: absolute;
  color: #FAFAFF;
  top: 50%;
  left: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
}
ion-pane:active {
  background-color: #E65000 !important;
}
#title {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
   line-height: 300px;
   font-size: 100px;
}
a {
  color: #FAFAFF;
}
#results {
  color: white;
}
.odd {
  background-color: #2A3A48;
  color: #FAFAFF;
}
.even {
  background-color: #3E6372;
  color: #FAFAFF;
}
#results, ol, #resultsWrapper {
  height: 100%;
}
li {
  height: 5%;
}